.u-section-1 .u-sheet-1 {
  min-height: 534px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 37px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 20px 0 0 306px;
}

.u-section-1 .u-image-1 {
  width: 276px;
  height: 320px;
  margin: -362px auto 60px -23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 737px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -23px 416px 0 395px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 12px 0 0;
}

.u-section-2 .u-image-1 {
  height: 359px;
  margin-bottom: 40px;
  margin-top: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 295px;
    margin-right: 316px;
    width: 329px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 185px;
    margin-right: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 95px;
    margin-right: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 11px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 753px;
}

.u-section-3 .u-text-1 {
  margin: -12px 0 0;
}

.u-section-3 .u-custom-html-1 {
  margin: 60px auto;
}