.u-section-1 .u-sheet-1 {
  min-height: 596px;
}

.u-section-1 .u-text-1 {
  margin: -9px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px -55px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 540px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 25px 166px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  font-family: 'Open Sans',sans-serif;
  font-size: 1.25rem;
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  font-family: 'Open Sans',sans-serif;
  font-size: 1.25rem;
  background-image: none;
  padding: 0;
}

.u-section-2 .u-custom-html-1 {
  margin: 34px 0 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 105px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 521px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 17px 27px 0 48px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 17px 0 0;
}

.u-section-3 .u-custom-html-1 {
  margin: 33px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}